extend layout
block content
    p
        | This is going to be a really cool app when
        | I finally get it running on Heroku. But for right now, I can't seem
        | to figure out why it's not running!
    p
        | Anyways, the idea is that users can do two things. First, a group
        | can list a bunch of things that they might want to do together and
        | rank how much they would like to do each thing.
        | Then, WhatIsGood will calculate enjoyment metrics and help the group
        | decide on an activity. Fun!
block sidebar
    .widget
        h1 Widget
            p
                | This is supposed to be a sidebar.
            p
                | Not sure what to put in it right now though.
